@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.feature-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #6c757d;
}

.wcag-badge {
    font-size: 0.8rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.table-accessibility {
    th {
        background-color: #f8f9fa;
    }
}

.nav-pills {
    .nav-link {
        background-color: v.$primary-color;
        color: white;
        margin: 0.25rem;
        &.active {
            background-color: #6c757d;
        }
        &:hover {
            background-color: v.$secondary-color;
            color: white;
        }
    }
}
.bg-primary-color {
    background-color: v.$primary-color !important;
    color: white;
}
.dropdown-item {
    padding: 0 20px !important;
    margin: 0 !important;
}
.dropdown-accesibilidad {
    button {
        color: white !important;
        font-weight: bold !important;
    }
    ul {
        margin-top: 10% !important;
    }
}
.dropdown-menu {
    background-color: #6c757d !important;
    background-color: v.$primary-color !important;
    border: none !important;
    box-shadow: none !important;
    border: 1px solid white !important;
    padding: 0 0 !important;
    > li {
        border-bottom: 1px solid white !important;
        &:last-child {
            border-bottom: none !important;
        }
        > a {
            padding: 10px !important;
            &:hover {
                background-color: v.$secondary-color !important;
                border-radius: 5% !important;
            }
        }
    }
}
