#map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.community-card {
    transition: transform 0.3s;
    list-style: none;
    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
    article {
        button {
            margin-top: 1rem;
        }
    }
}
