@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.texto-primary {
    color: v.$primary-color;
}

.hero-section {
    background: v.$primary-color; // Fondo oscuro
    min-height: 60vh;
    position: relative;
    .container {
        h1 {
            background-color: transparent !important;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); // Sombra para mejorar legibilidad
        }
    }
    .btn {
        @include m.btn;
    }
}

#about {
    a {
        @include m.btn;
    }
}
