@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
.game-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
}

.accessibility-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1a237e;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}
.platform-icon {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #1a237e;
}
.img-port {
    filter: grayscale(80%);
}
.videoJuegos-filtro {
    a {
        @include m.btn;
    }
}
