/* Arreglo de header en modo tablet-mobil */
.ms-auto {
    @media screen and (max-width: 992px) {
        padding-top: 1rem;
    }
}
// Estilos para la tabla de Consolas y Periféricos
@media (max-width: 768px) {
    .consola-logo {
        width: 60px;
    }
}
// Para el dropdown de accesibilidad
.dropdown-accesibilidad {
    @media screen and (max-width: 1200px) {
        ul {
            margin-top: 2% !important;
        }
    }
}
